.movieForm {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 40px;
  padding: 5px;
  width: 400px;
}