.library {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.forms-completo {
  background-color: rgba(129, 179, 179, 0.486);
  border-radius: 5%;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  padding: 1% 5% 1% 1%;
}

h3 {
  text-align: center;
}
