.forms-search-bar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.568);
  font-size: 1.3em;
  margin-bottom: 15%;
  padding-bottom: 15%;
}

.flex-label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.check {
  margin: 4px 10px;
  transform: scale(2.5);
}
