.searchForm {
  padding: 5px 43px 0 36px;
  width: 100%;
}

.searchLabel {
  width: 100%;
}

.searchInput {
  border: 1px solid rgb(120, 120, 218);
  border-radius: 7px;
  width: 100%;
}

.searchInput:hover {
  background-color: rgba(189, 187, 187, 0.863);
}

.checkbox_Input {
  margin-right: 5px;
}

.genreLabel {
  width: 100%;
}

.genreSel {
  background-color: white;
  border: 1px solid rgb(120, 120, 218);
  border-radius: 7px;
  height: 28px;
  width: 100%;
}

.genreSel:hover {
  background-color: rgba(189, 187, 187, 0.863);
}
